@use '../abstracts/measurments';
@use '../abstracts/typography';
@use '../breakpoints/breakpoints';

.features{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline: measurments.$wrapper;

    &_list{
        padding-block: 30px 50px;
        display: flex;
        flex-direction: column;
        text-transform: capitalize;

        &_item{
            padding-block: 10px;
            font-weight: typography.$light-bold;
            border-top: solid 1px rgb(208, 208, 208);
        }

        &_item:last-child{
            border-bottom: solid 1px rgb(208, 208, 208);
        }

        .clicked{
            color: black;
            font-weight: typography.$bold;
            position: relative;
            width: 100%;
        }
        
        .clicked:before{
            content : "";
            position: absolute;
            left    : 25%;
            bottom  : 0;
            width   : 50%;
            border-bottom: 3px solid red;
        }  
    }

    &_list:hover{
        cursor: pointer;
    }

    &_list_content{
        .content{     
            display: flex;
            flex-direction: column;

            img{
                width: 100%;
                padding-bottom: 70px;
            }

            h3{
                padding-bottom: 15px;
            }

            &_description{
                &_button{
                    display: none;
                    padding-top: 20px;
                    a{
                        padding: 20px 40px;
                    }
                }
            }

        }

        #content_one{
            display: none;
        }

        #content_two{
            display: none;
        }

        #content_three{
            display: none;
        }
    }

    @include breakpoints.media(">LGdesktop"){
        padding-inline: measurments.$wrapper-desktop;

        &_list{
            margin: 0 auto;
            width: 80%;
            flex-direction: row;
            justify-content: center;
            gap: 50px;
        }

        &_list_content{
            margin-top: 50px;
            .content{     
                display: flex;
                flex-direction: row;
                gap: 150px;

                &_description{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: start;
                    gap: 40px;

                    h3{
                        padding: 0;
                    }

                    p{
                        width: 40ch;
                    }

                    &_button{
                        display: block;
                    }
                }
            }
    
        }    
    }
}