@use '../abstracts/measurments';
@use '../abstracts/typography';

.questions{
    padding-inline: measurments.$wrapper;

    &_accordion{
        /* Style the buttons that are used to open and close the accordion panel */
        .accordion {
            background-color: white;
            color: black;
            font-weight: typography.$bold;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            border-bottom: solid 1px rgb(208, 208, 208);
            outline: none;
            transition: 0.4s;
        }
        
        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .accordion:hover {
            background-color: #ccc;
        }
        
        .panel {
            padding: 0 18px;
            display: none;
            overflow: hidden;
        }
    }
}