@use './colors';
@use '../breakpoints/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$d-xsmall: 1.25rem;
$d-small: 1.5rem;
$d-medium: 3rem;
$d-large: 4rem;

$m-xxsmall:0.7rem;
$m-xsmall:0.9rem;
$m-small: 1rem;
$m-medium: 1.5rem;
$m-large: 1.750rem;
$m-xlarge: 2rem;


$light: 300;
$light-bold: 400;
$bold: 500;

$small-line-height: 1.5;
$medium-line-height: 1.2;


$medium-letter-spacing: .08rem;
$wide-letter-spasing: .2rem;


h1, h2, h3, h4, h5, h6, p, a, button{
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4{
    color: colors.$black;   
    font-weight: $bold;
}

h1{
    line-height: $medium-line-height;
    font-size: $m-xlarge;

    @include breakpoints.media(">LGdesktop"){
        font-size: $d-large;
    }
}

h2{
    font-size: $m-large;

    @include breakpoints.media(">LGdesktop"){
        font-size: $d-medium;
    }
}

h3{
    font-size: $m-medium;
}

p{
    font-size: $m-small;
    font-weight: $light;
    color: colors.$grayishBlue;
    line-height: $small-line-height;

    @include breakpoints.media(">LGdesktop"){
        font-size: $d-small;
        font-weight: $light-bold;
    }
}

a{
    font-size: $m-xsmall;
    text-decoration: none;
    color: black;

    @include breakpoints.media(">LGdesktop"){
        font-size: $d-xsmall;
    }
}

