@use '../abstracts/measurments';
@use '../breakpoints/breakpoints';

.section_titles{
    padding-top: measurments.$sections-top;
    text-align: center;

    h2{
        padding-bottom: 15px;
    }

    @include breakpoints.media(">LGdesktop"){
        padding-top: measurments.$sections-top-desktop;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            padding-bottom: 30px;
        }
        
        p{
            width: 45ch;
        }
    }
}